#root {
  height: 100vh;
  background: #F5F5F5; }

body {
  margin: 0;
  font-family: lato; }

h1 {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 15.4px; }

h3 {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px; }

p {
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px; }

blockquote {
  font-family: Lato;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px; }

pre {
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px; }

.price-list {
  padding-top: 15px;
  display: flex;
  background: #F5F5F5;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around; }

.price-wrapper {
  margin-top: 20px;
  border: 1px solid #585858;
  border-radius: 4px; }
  .price-wrapper .price-header {
    text-align: center;
    color: white;
    background: #606060;
    font-weight: bolder;
    position: relative; }
    .price-wrapper .price-header.down::after {
      content: '';
      position: absolute;
      top: 30px;
      left: 139px;
      border-top: 10px solid red;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent; }
    .price-wrapper .price-header.up::after {
      content: '';
      position: absolute;
      top: 30px;
      left: 139px;
      border-bottom: 10px solid green;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent; }
  .price-wrapper .prices {
    display: flex;
    padding: 10px 10px 40px 10px; }
  .price-wrapper .price-indicator {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 4px 0 0 4px;
    border-top: 1px solid #585858;
    border-bottom: 1px solid #585858;
    position: relative;
    width: 90px;
    height: 41px;
    z-index: 2;
    padding: 5px; }
    .price-wrapper .price-indicator.buy {
      border-left: 1px solid #585858;
      border-radius: 4px 0 0 4px;
      color: red;
      margin-right: 35px; }
      .price-wrapper .price-indicator.buy::after {
        content: '';
        border-right: 1px solid #585858;
        border-bottom: 1px solid #585858;
        border-width: 0 1px 1px 0;
        border-bottom-right-radius: 4px;
        transform: rotate(-45deg);
        position: absolute;
        top: 7px;
        left: 82px;
        width: 36px;
        height: 36px;
        background: white;
        z-index: -1; }
      .price-wrapper .price-indicator.buy:hover {
        color: white;
        border-color: blue;
        background: red;
        transition-property: all;
        transition-duration: 500ms; }
      .price-wrapper .price-indicator.buy:hover::after {
        border-color: blue;
        background: red;
        transition-property: all;
        transition-duration: 500ms; }
    .price-wrapper .price-indicator.sell {
      border-right: 1px solid #585858;
      border-radius: 0 4px 4px 0;
      color: green;
      margin-left: 35px;
      text-align: right; }
      .price-wrapper .price-indicator.sell .price {
        justify-content: flex-end; }
      .price-wrapper .price-indicator.sell::before {
        content: '';
        border-right: 1px solid #585858;
        border-bottom: 1px solid #585858;
        border-width: 0 1px 1px 0;
        border-bottom-right-radius: 4px;
        transform: rotate(135deg);
        position: absolute;
        top: 7px;
        left: -19px;
        width: 36px;
        height: 36px;
        background: white;
        z-index: -1; }
      .price-wrapper .price-indicator.sell:hover {
        color: white;
        border-color: blue;
        background: green;
        transition-property: all;
        transition-duration: 500ms; }
      .price-wrapper .price-indicator.sell:hover::before {
        border-color: blue;
        background: green;
        transition-property: all;
        transition-duration: 500ms; }
    .price-wrapper .price-indicator .text {
      font-size: 12px; }
    .price-wrapper .price-indicator .price {
      font-size: 15px;
      display: flex;
      flex-direction: row;
      height: 23px; }
      .price-wrapper .price-indicator .price .start {
        align-self: flex-end; }
      .price-wrapper .price-indicator .price .middle {
        font-size: 18px;
        font-weight: bolder;
        align-self: flex-end; }
      .price-wrapper .price-indicator .price .end {
        align-self: flex-start; }
